* {
	box-sizing: border-box;
	
}

html {
	height: 100%;
}

body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
	line-height: 28px;
	color: #777777;
	background-image: url("../images/seigaiha.png");
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

header {
	background-color: #ffffff;
	border-bottom: 2px;
	border-style: solid;
	border-color: #dddddd;
	height: 80px;
	margin-bottom: 40px;
}

h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: 700;
	font-size: 28px;
	color: #ffffff;
	text-align: center;
	line-height: 78px;
	background-color: #4aaaa5;
	width:300px;
	float: left;
	height: 78px;
}

h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: 700;
	font-size: 28px;
	color: #4aaaa5;
	padding-bottom: 30px;
}

h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: 700;
	font-size: 21px;
	color: #4aaaa5;
	padding-bottom: 20px;
}

nav {
	color: #dddddd;
	float: right;
	height: 78px;
	line-height: 78px;
	}

p {
	margin-bottom: 1em;
}

footer {

	color: #cccccc;
	font-size: 11px;
 	width: 100%;
 	height: 95px;
 	line-height: 95px;
	/*position: absolute; 
 	left: 0;
 	bottom: 0; 
 	margin-top: -90px; */
 	border-top: 8px solid #4aaaa5;
 	background-color: #666666;
 	text-align: center;

 	margin-bottom: 0px;
}

a {
	text-decoration: none;

}

a:active{
	color: #5A00B2;
}

a:hover{
	color: #FFD00D;
}


ul {
	text-decoration: none;
	text-align: center;
}

li {
	display: inline-block;
}

.header-nav {
	color: #999999;
 	font-size: 17px;
}

.first {
	padding: 0px 12px 0px 0px;
}

.middle {
	padding: 0px 12px 0px 12px;
}

.last {
	padding: 0px 0px 0px 12px;
}

.lead {
	margin-top: -7px;
}


.break {
	background-color: #dddddd;
	width: 100%;
	height: 3px;
	margin-bottom: 30px;
	}

.break-side {
	background-color: #dddddd;
	width: 100%;
	height: 2px;
	margin-bottom: 20px;
	}

.wrapper-main {
	min-height: 100%;
	border: 5px blue solid;
}

 .container-main {
	width: 960px;
	margin: 0 auto;
	overflow: auto;

}

 .container-header {
	width: 960px;
	height: 80px;
	margin: 0 auto;
 }

.content {
	
}

 .main {
 	width: 650px;
 	border: 1px solid #dddddd;
 	padding: 43px 30px;
 	background-color: #ffffff;
 	margin-bottom: 37px;
 	float: left;
 }

 .sidebar {
 	width: 270px;
 	height: 200px;
 	border: 1px solid #dddddd;
 	background-color: #ffffff;
 	padding-top: 30px;
 	float: right;
 }

.sidebar-content {
	width: 206px;
	margin: 0 auto;
}
.photo {
	margin: 0px 25px 0px 0px;
	width: 200px;
	height: 150px;
	float: left;
}

.float-l {
	float: left;
}

.float-r {
	float: right;
}

.logo-margin {
	margin: 0px 10px 0px 10px;
}

.logo {
	opacity: 1;
}

.logo:hover {
	opacity: .6
}

.flex-main {
	flex: 1;
}
